header {
    font-family: 'Orbitron', serif;
    font-size: 36px;
    text-align: center;
    color: blueviolet;
    text-shadow: 4px 4px 4px #aaa;
    font-weight: bold;
    vertical-align: text-top;
}

.homepage-header {
    position: relative;
    text-align: center;
    color: white;
  }

.center_img_header {
    position: absolute;
    width: 100%;
}

.navbar_homepage {
    position: absolute;
    top: 180px;
    
}

.navbar_section {
  position: absolute;
  top: 240px;
  padding: 0px;
  margin: 0px;
}

ul {
    background-color: #000912;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
  }

  li {
    float: left;
    border:#aaa;

  }

  li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Orbitron', serif;
    font-weight: bold;
    
  }
  
  li a:hover:not(.active) {
    background-color: blue;
  }

  nav {
    float: left;
    width: 30%;
    padding: 0px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  section::after {
    content: "";
    display: table;
    clear: both;
    top: 300px;
  }

article {
    margin-left: 31%;
    left: 300px;
    width: 69%;
    background-color: #f1f1f1;
  }

nav ul button {
  text-decoration: none;
  display: block;
  width: 250px;
  background: white;
  color: black;
  box-shadow: 2px 2px 2px cadetblue;
  border-radius: 8px;
  margin: 5px;    
  padding: 10px;
}